[submodule "Luci-Engine/vendor/spdlog"]
	path = Luci-Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Luci-Engine/vendor/GLFW"]
	path = Luci-Engine/vendor/GLFW
	url = https://github.com/JordyAaldering/glfw
[submodule "Luci-Engine/vendor/imgui"]
	path = Luci-Engine/vendor/imgui
	url = https://github.com/JordyAaldering/imgui
